/*
author: joshxviii 
*/

/* TODO: this file is getting kinda huge... */
/* consolidate some stlyes that are redundent and */

/*#region GENERAL */
@font-face {
    font-family: "Arial Rounded Bold";
    src: url('../fonts/Arial Rounded MT Bold Regular.ttf');
}
html, body {
    font-family: "Arial Rounded Bold";
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    user-select: none;
    font-size: 16px;
    scroll-behavior: smooth;
}
p {
    font-size: 12px;
    color: rgb(from var(--main-text-color) r g b / 0.6);
    margin: 0px;
    text-align: center;
}
div[show=false], div[show=false] text {
    visibility: hidden;
    opacity: 0%;
}
#main-win {
    margin-top: 30px;
    transform-origin: top left;
    width: 720px;
    height: 360px;
    display: flex;
    flex-direction: row;
}
#main_content{
    flex: 1;
}
#top_row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    box-sizing: border-box;
}
.title-bar {
    width: 100%;
    height: 22px;
    max-width: 100%;
    -webkit-app-region: drag;
    z-index: 5;
    background-color: var(--accent-color);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    padding-block: 4px;
    transform: translateY(-4px);
    position: fixed;
}
#resize-border {
    height: 4px;
    z-index: 5;
    background: transparent;
    -webkit-app-region: no-drag;
    background-color: var(--accent-color);
}
#title {
    color: #f0feff;
}

.separator {
    width: 95%;
    height: 0px;
    padding: 2px;
    background-color: var(--secondary-bg-color);
    margin: 6px auto 6px auto;
    border-radius: 16px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #00000000;
}

::-webkit-scrollbar-thumb {
    background: rgb(from var(--accent-color) r g b / 1);
    border-radius: 8px;
}

::selection {
    color: var(--input-highlight-text-color);
    background-color: var(--input-highlight-color-2);
    border-radius: 8px;
}

.footer {
    padding-top:0px;
    padding-bottom:0px;
    bottom:0;
    width:100%;
    height:20px;

    display: inline-block;
}

.footer a, .footer p {
    font-size: 12px;
    color: rgb(from var(--main-text-color) r g b / 0.2);
}

#reset_settings {
    position: relative;
    overflow: hidden;
}
#reset_settings::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: rgba(255, 0, 0, 0);
    z-index: 0;
    pointer-events: none;
    transition: background-color 2s ease-out;
}
#reset_settings:active::before {
    background-color: #ff000087;
    animation: load 1.5s linear forwards
}

@keyframes load {
    0% { width: 0%; }
    99% { width: 100%; }
    100% { width: 0%; }
}

#reset_settings span {
    position: relative;
    z-index: 1;
}

[disabled=true] {
    transition: opacity 0.3s ease;
    user-select: none;
    cursor: default;
    pointer-events: none;
    opacity: 40%;
}

/*#endregion GENERAL */

/*#region BUTTONS */

input[type=button], button {
    background-color: var(--input-bg-color);
    color:var(--main-text-color);
    font-family: "Arial Rounded Bold";
    font-size: 14px;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    outline: none;
}

input[type=button]:not(:disabled):hover, button:not(:disabled):hover {
    background-color: var(--accent-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
    transform: scale(1.05);
}

input[type=button]:active, button:active {
    background-color: var(--input-accent-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(0.95);
}

input[type=button]:disabled, button:disabled  {
    background-color: var(--secondary-bg-color);
    color: var(--input-accent-color); 
    cursor: not-allowed;
    box-shadow: none; 
    outline: none;
}

input[type=checkbox] {
    outline: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border: 2px solid var(--input-accent-color);
    border-radius: 4px;
    background-color: var(--input-bg-color);
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
}

input[type=checkbox]:checked::after input[type=checkbox]:checked::before {
    transition: all 0.3s;
}

input[type=checkbox]:checked::after {
    content: '';
    position: absolute;
    bottom: 10%;
    left: 15%;
    width: 4px;
    height: 8px;
    border: solid var(--input-highlight-color);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

[inactive=true] input[type=checkbox]:checked::after, [inactive=true] input[type=checkbox]:checked::before {
    content: '';
    transform: rotate(45deg);
    position: absolute;
    bottom: -2px;
    left: 3px;
    width: 0px;
    height: 13px;
    border: solid var(--input-highlight-color-3);
    border-radius: 2px;
    border-width: 1px 3px 1px 0px;
}
[inactive=true]  input[type=checkbox]:checked::before {
    transform: rotate(-45deg);
}


input[type=checkbox]:hover,input[type=radio]:hover {
    background-color: var(--accent-color);
    border-color: var(--input-accent-color);
}

input[type=radio] {
    outline: none;
    appearance: none;
    width: 14px;
    height: 14px;
    background-color: var(--input-bg-color);
    border: 2px solid var(--input-accent-color);
    border-radius: 50%;
    position: relative;
    transition: all 0.2s ease;
    cursor: pointer;
}

input[type=radio]:checked::before {
    content: '';
    width: 7px;
    height: 7px;
    background-color: var(--input-highlight-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#remap_type_select input[type=radio] {
    width: 22px;
    height: 22px;
    border-width: 3px;
}

#remap_type_select input[type=radio]:checked::before {
    width: 11px;
    height: 11px;
}

#remap_type_select label {
    font-size: 20px;
    color: transparent;
    text-shadow: 0px 0px 0px var(--accent-color);
}

.toggle {
    --toggle-width: 25px;
    position: relative;
    width: var(--toggle-width);
    height: 14px;
}
.toggle input {
  display: none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--input-bg-color);
    transition: 0.3s;
    border-radius: 34px;
    border: 2px solid var(--input-accent-color);
}
.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    transform-origin: center;
    background-color: var(--input-highlight-color);
    transition: 0.3s;
    border-radius: 50%;
}
input:checked + .slider:before {
    transform: translateX(calc(var(--toggle-width) - 4px - 100%));
}

svg-button {
    --alt1-color: var(--accent-color);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: all 0.1s ease;
    -webkit-app-region: no-drag;
}
svg-button:hover {
    transform: scale(1.07);
    z-index: 2;
}
svg-button:active  {
    transform: scale(.9);
}

.title-bar svg-button {
    --alt1-color: var(--input-highlight-text-color);
    transform-origin: center;
    width: 24px;
    height: 24px;
}
#male, #female {
    --alt1-color: #f3f3f3;
    --alt2-color: #4b4b4b;
    /* transition: all 0.4s ease-in-out; */
}
#male g, #female g {
    filter: drop-shadow(0px 2px 0px #dadada);
}
#male[pressed=true] g {
    filter: drop-shadow(0px 2px 0px #ace3ff);
}
#female[pressed=true] g {
    filter: drop-shadow(0px 2px 0px #ffc3f7);
}

#male[pressed=true] {
    --alt1-color: #f0feff;
    --alt2-color: #52e1fa;
    filter: drop-shadow(0 0 5px #00aaff8c);
}
#female[pressed=true] {
    --alt1-color: #fff1ff;
    --alt2-color: #ff5ce9;
    filter: drop-shadow(0 0 5px #f71bff8c);
}

.button_row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.button_row svg-button {
    width: 100%;
    background-color: var(--input-alt-color);
    border-radius: 32px;
    margin: 0px 8px;
    box-shadow: 0px 0px 0px var(--accent-color);
}
.button_row svg-button[disabled=false]:not(:active) {
    box-shadow: 0px 4px 0px var(--accent-color);
    translate: 0px -4px;
}
.button_row svg-button:hover  {
    transform: scale(1);
}
.button_row svg-button:active  {
    transform: scale(1);
    translate: 0px 0px;
}
/*#endregion BUTTONS */

/*#region SLIDERS */

/*MASTER VOLUME*/
#master_volume_group {
    flex: 0 0 1%; /* Fixed 20% width */
    background-color: var(--secondary-bg-color);
    border-radius: 8px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 56px;
    transform: translate(0, -4px);
    height: 91%;
}

#master_volume {
    width: 250px;
    transform: rotate(-90deg);
    transform-origin: center;
}
#master_volume::-webkit-slider-runnable-track {
    width: 18px;
    height: 36px;
    cursor: pointer;
    background: var(--input-bg-color);
    border-radius: 10px;
}
#master_volume::-webkit-slider-thumb {
    height: 36px;
    width: 18px;
}

#master_volume_out {
    transform: translate(0, 120px);
    min-width: 80%;
}

input[type=range] {
    outline: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 18px;
    height: 18px;
    cursor: pointer;
    background: var(--input-bg-color);
    border-radius: 10px;
}
input[type=range]::-webkit-slider-thumb {
    appearance: none;
    border-style: none;
    height: 18px;
    width: 18px;
    border-radius: 8px;
    background: var(--accent-color);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0px;
    transition: box-shadow 0.5s ease;
}
input[type=range]::-webkit-slider-thumb:hover {
    transition: box-shadow 0.05s ease;
    box-shadow: 0 0 0 3px var(--input-highlight-color);
}
/*#endregion SLIDERS*/

/*#region TEXTFIELDS */
select {
    height: 18px;
    width: 100px;
    margin-inline: 8px;
    opacity: 40%;
    font-size: 14px;
    color: var(--main-text-color);
    font-family: "Arial Rounded Bold";
    appearance: none;
    border-style: none;
    border-radius: 6px;
    cursor: pointer;
    content: "1";
    position: relative;
    display: inline-table;
    transition: all 0.33s ease;
    background-color: var(--input-bg-color);
    text-align: center;
    text-align-last: center;
    outline-style: none;
}
select:hover{
    opacity: 100%;
}

input[type=text] {
    width: 100px;
    background-color: var(--input-bg-color);
    border-radius: 8px;
    display: inline-block;
    color: var(--main-text-color);
    text-align: center;
    overflow: hidden;
    max-height: 18px;
    min-height: 18px;
    font-size: 16px;
    font-family: "Arial Rounded Bold";
    border: 0;
    outline: none !important;
}

input[type=text]::placeholder {
    color: rgb(from var(--main-text-color) r g b / 0.3);
}

/*#endregion TEXTFIELDS */

/* STLYE FOR EDITOR */
#voice_profile_editor {
    display: flex;
    align-items: flex-start;
    width: 89%;
}

#sliders {
    flex: 0 0 364px;
    display: flex;
    flex-direction: column;
    gap: 10px;
} 

#slider_group {
    display: flex;
    flex-direction: row;
}

#voice_type_group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#voice_profiles {
    margin: 4px 0px;
    flex: 1;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#voice_profile_select {
    display: flex;
    position: relative;
}

#voice_profile_select::after {
    content: '';
    position: absolute;
    pointer-events: none;
    top: 51%;
    width: 0;
    height: 0;
    border-radius: 2px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 5px solid var(--accent-color);
    transform: translate(7px, -50%);
}

#voice_profile_slot {
    font-size: 18px;
    width: 25px;
    height: 31px;
    margin: 0;
    border-radius: 8px 0px 0px 0px;
    color: transparent;
    position: relative;
}

#voice_profile_slot option {
    color: var(--main-text-color);
    text-align: start;
}
#voice_profile_slot option:checked {
    color: var(--input-highlight-color);
}

#voice_profile_name {
    font-size: clamp(8px, 100%, calc(105px/ max(1, var(--label-length))));
    text-align: center;
    width: 82px;
    min-height: 30px;
    max-height: 30px;
    border-radius: 0px 8px 0px 0px;
}

#voice_profile_slots option:hover {
    background-color: var(--input-accent-color);
    color: var(--input-highlight-text-color);
}

#voice_profile_slots option:checked {
    background-color: var(--input-accent-color);
    color: var(--input-highlight-text-color);
}

#voice_profile_buttons {
    background-color: var(--secondary-bg-color);
    padding: 8px 13.5px;
    margin: -1px;
    border-radius: 0px 0px 8px 8px;
}

#voice_profile_buttons svg-button {
    width: 42px;
    height: 22px;
    margin: 0px;
}

#voice_type.female, #voice_type.female option.female {
    background-color: #ffe9ff;
    color: #ff8bcb;
}
#voice_type.male, #voice_type.male option.male {
    background-color: #d2eeff;
    color: #00aaff;
}
#voice_type.female option.male,
#voice_type.male option.female {
    display: none;
}

.editor_slider {
    display: inline-block;
    width: 170px;
    transition: all 0s;
    transform: translate(0, 3px);
}
.editor_label {
    font-weight: 200;
    color: var(--main-text-color);
    font-size: 14px;
    display: inline-block;
    align-items: center;
    flex-direction: column-reverse;
}
.editor_output {
    max-width: 48px;
    margin-inline: 8px;
}

#key_remapper {
    margin: 8px 0px 0px 0px;
    padding: 8px;
    flex: 1;
    display: flex;
    align-items: center;
    background-color: var(--secondary-bg-color);
    border-radius: 16px 16px 0px 0px;
    box-sizing: border-box;
    color: var(--accent-color);
    font-size: 14px;
    text-align: center;
    flex-direction: column;
    min-height: 147px;
    max-height: 147px;
}

#remap_monitor {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:var(--accent-color);
    min-width: 16px;
    min-height: 16px;
    background-color: var(--input-bg-color);
    border-radius: 8px;
    padding: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    line-height: 16px;
    transition: all 0.2s ease;
    border: 4px dashed transparent;
    margin-block-end: 8px;
}
#remap_monitor[monitoring=true] {
    border: 4px dashed rgb(from var(--input-highlight-color) r g b / 0.65);
}
#remap_monitor.remapping {
    border-color: var(--input-highlight-color-2);
}

#remap_in {
    width: 0;
    padding: 0;
    margin: 0;
    border: 0;
    position: absolute;
    background-color: rgb(from var(--input-highlight-color-2) r g b / 0.6);
    caret-color: transparent;
    color: transparent;
}

#remap_tabs {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 32px;
}

.remap_tab[pressed=true] {
    background-color: var(--secondary-bg-color);
    filter: drop-shadow(0 6px 0px var(--accent-color));
    translate: 0px 0px;
}

.remap_tab {
    transform-origin: top;
    border-radius: 0px 0px 8px 8px;
    translate: 0px 6px;
    background-color: var(--input-bg-color);
    filter: drop-shadow(0 -6px 0px var(--accent-color));
    width: 100%;
}
.remap_tab:hover {
    transform: scale(1);
}
.remap_tab:active {
    transform: scaleY(.9);
}

#settings_overlay {
    width: 328px;
    height: 302px;
    position: absolute;
    background-color: var(--main-bg-color);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 16px;
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: anchor-center;
    gap: 12px;
}
#settings_overlay h3 {
    font-size: 15px;
    color: var(--main-text-color);
    margin-block-start: 16px;
    margin-block-end: 6px;
}
#settings_overlay label {
    font-size: 14px;
    color: rgb(from var(--main-text-color) r g b / 0.8);
    display: inline-block;
    align-self: flex-start;
}
#settings_overlay label input, .toggle {
    margin: 0px 7px -2px 7px;
}

#settings_overlay .catagory {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.catagory div, .catagory table {
    width: 100%;
}

#settings_overlay select {
    width: 150px;
    height: 25px;
}

#settings_overlay option {
    color: var(--main-text-color);
}

#focus_out {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0000002f;
}
#focus_out[show=false], #focus_out[show=false] #settings_overlay {
    z-index: -1;
    opacity: 0;
}

#apps_table label {
    font-size: 11px;
}

td label {
  display: inline-block;
  max-width: 208px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    color: var(--main-text-color);
    text-align: center;
    margin: 0;
}

.rad_button_list {
    background-color: var(--secondary-bg-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding-block: 7px;
}

table {
    width: 84%;
    height: 160px;
    background-color: var(--secondary-bg-color);
    border-radius: 8px;
    overflow-y: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

table thead {
    color: var(--main-text-color);
}

.audio_editor {
    padding: 0px 18px;
    position: absolute;
}


#remap-table tbody tr:nth-child(even) {
    background: rgb(from var(--accent-color) r g b / 1.0);
}
#remap-table tbody tr:nth-child(odd) {
    background: rgb(from var(--input-bg-color) r g b / 1.0);
}  
#remap-table {
    height: 90%;
}
#remap-table td {
    width: 43%;
    padding-block: 6px;
}